<nav id="menu">

    <ul id="menu-list">
     
        {{ $currentPage := . }} {{ range .Site.Menus.main }}
        <li class="{{ if $currentPage.HasMenuCurrent " main  " . }}active {{ end }}">
            <a href="{{ if i18n .Identifier }} {{ absLangURL .URL }} {{else}} {{.URL}} {{ end }}" data-nav="{{.Name | urlize}}" {{if strings.HasPrefix .URL "https" }} target="_blank" {{end}}>
                <span>{{ i18n .Identifier | default .Name }}</span>
            </a>
        </li>
        {{ end }}
        
        <li class="rss">
        </li>
        
    </ul>
</nav>